{% extends "base.html" %}

{% block title %}Ejercicio 2{% endblock title %}

{% block container %}
<div class="formulario-1">
    <h1>Formulario de Notas</h1>
    <form action="/ejercicio2" method="POST">
        <label for="nombre1">Nombre 1:</label>
        <input type="text" id="nombre1" name="nombre1" required>
        <br>
        <label for="nombre2">Nombre 2:</label>
        <input type="text" id="nombre2" name="nombre2" required>
        <br>
        <label for="nombre3">Nombre 3:</label>
        <input type="text" id="nombre3" name="nombre3" required>
        <button type="submit">Calcular</button>
        <br>
    </form>
    {% if mayor %}
        <h3>El nombre mas largo es {{mayor}}</h3>
    {% endif %}
</div>
{% endblock container %}