{% extends "base.html" %}

{% block title %}Ejercicio 2{% endblock title %}

{% block container %}
<div class="formulario-1">
    <h1>Formulario de Notas</h1>
    <form action="/ejercicio1" method="POST">
        <label for="nota1">Nota 1:</label>
        <input type="number" id="nota1" name="nota1" required>
        <br>
        <label for="nota2">Nota 2:</label>
        <input type="number" id="nota2" name="nota2" required>
        <br>
        <label for="nota3">Nota 3:</label>
        <input type="number" id="nota3" name="nota3" required>
        <br>
        <label for="asistencia">Asistencia (%):</label>
        <input type="number" id="asistencia" name="asistencia" required>
        <br>
        <button type="submit">Calcular</button>
    </form>
    {% if method == "POST" %}
        {% if error %}
        <h3>{{error}}</h3>
        {% else %}
            {% if aprobado %}
            Has aprobado con el siguiente promedio {{promedio}}
            {% else %}
            Reprobaste con un promedio de {{promedio}}
            {% endif %}
        {% endif %}
    {% endif %}
</div>
{% endblock container %}